@charset "UTF-8"; 

html {
    font-family: 'Noto Sans', sans-serif;
    /* 글자간격 줄임 */
    letter-spacing: -0.07rem;
    font-size: 16px;
    color :#1d1d1f;
}


body {
    /*가로 스크롤을 없애준다.*/
    overflow-x: hidden;
}

a {
    text-decoration: none;
    color: #1d1d1f;
}

.container{
    color: rgb(100, 100, 100);
}

.local-nav-links{
    margin: 0 auto;
    max-width: 1000px;
}

/* section 0 START */
#section-0{

/* 
    flex-direction: column;
    justify-content: center;
    align-items: center;

    align-content: center; */
}

.local-nav-links-0{
    padding-top: 270px;
    position: static;
    flex-direction: column;
    justify-content: center;
}

.local-nav-links-0 h1{
    font-size: 80px;
    font-size: 80px;
    font-weight: 700;
    /* color : #1d1d1f; */
    color : #f5f5f7;
    font-family: Arial, "Helvetica Neue", Helvetica, sans-serif;
}

/* section 0 END */
/* section 1 START */
.local-nav-links-1{
    max-width: 1000px;
    /* display: flex; */
    justify-content: center;
    align-items: center;
}

#id_title #id_title_p{
    font-size: 80px;
    font-weight: 700;
    color : #1d1d1f;
    font-family: Arial, "Helvetica Neue", Helvetica, sans-serif;
    max-width: 1000px;

    display: block;
    position: fixed;     
    top : 194px;
    /* left :250px; */
}

.fadein-items0,
.fadein-items1,
.fadein-items2,
.fadein-items3{
    opacity: 0;
}

#id_mainIMG{
    position: fixed;     
    top : 350px;
    right :250px;
}
#id_mainIMG1{
    position: fixed;     
    top : 350px;
    right :560px;
}
#id_mainIMG2{
    position: fixed;     
    top : 350px;
    right :871px;
}
#id_mainIMG3{
    position: fixed;     
    top : 350px;
    right :-60px;
}
#id_mainIMG4{
    position: fixed;     
    top : 350px;
    right : 1182px
}
#id_mainIMG5{
    position: fixed;     
    top : 350px;
    right : 1492px;
}
#id_mainIMG6{
    position: fixed;     
    top : 350px;
    right : 1803px;
}
#id_mainIMG7{
    position: fixed;     
    top : 350px;
    right: 2114px;
}
#id_mainIMG8{
    position: fixed;     
    top : 350px;
    right:  2424px;
}


.cs-imgs{
    width: 300px;
    height: 300px;
}
/* section 1 END */
.local-nav-line{
    display: flex;
    margin: 0 auto;
    border-bottom: 1px solid #8a8a8a;
    width: 1000px;
}

.local-nav-item{
    text-align: center;
}
.local-nav-item-0{
    position: relative;
    /* text-align: left; */
}

.local-nav-links-2{
    /* display: flex; */
    position: fixed;
    align-items: center;
    max-width: 1000px;
}

#id_local-nav-links-0{
    z-index: auto;
}

#div_id_h1{
    z-index: 2;
    position: absolute;
    padding-top: 63px;
    padding-left: 60px;
}

#div_id_main_vidieo{
    z-index: 1;
    position: absolute;
    top: 230px;

    max-width: 1000px;
    align-items: center;
}

#id_main_vidieo {
    pointer-events: none;

    display: block;
    width: 100%;
    height: 100%;

    border-radius: 25% 10%;
    text-align: center;
}

/* video set START */
#id_ytb1{
    display: block;
    position: fixed;     
    top: 351px;
    left: -95px;

}

#id_ytb2{
    display: block;
    position: fixed;     
    top: 351px;
    left: 821px;

}

#id_ytb3{
    display: block;
    position: fixed;     
    top: 351px;
    left: 1736px;

}
/* video set END */

/* 제외 */
/* .local-nav-item:not(.local-nav-item:nth-child(1)){
    margin-left: 1em;
} */

/* .local-nav-item:nth-child(1) {
     최대 사용 가능한 우측 마진 설정. 
     margin-left: auto; 
} */

/* #local-nav-item-serch{
    height: 48px;
} */

#local-nav-input {
    margin-left: 5px;
    width: 139px;
    height: 22px;
    border: 1px solid #1d1d1f;
}

#local-nav-btn{
    /* display: inline-block;
    text-align: center; */
    cursor: pointer;

    margin-left: 5px;
    
    background-color: #0071e3;
    color: #fff;
    border-radius: 980px;
    line-height: 1.4;
    font-size: 12px;
    font-weight: 400;

    min-width: 23px;
    padding-left: 11px;
    padding-right: 11px;
    padding-top: 4px;
    padding-bottom: 4px;

    -webkit-transition-duration: 0.4s; /* Safari */
    transition-duration: 0.4s;
}
#local-nav-btn:hover {
    background: tomato; 
    color: white;
}

.local-tag-set{
    display: inline;
    float: left;
    line-height: 44px;
    max-width: 760px;
}

.local-tag-add{
    text-align: right;
    line-height: 44px;
}

.new-tag-btn{
    cursor: pointer;

    margin-left: 5px;
    
    background-color: #67c75a;
    color: #fff;
    border-radius: 980px;
    line-height: 1.4;
    font-size: 12px;
    font-weight: 400;

    min-width: 23px;
    padding-left: 11px;
    padding-right: 11px;
    padding-top: 4px;
    padding-bottom: 4px;

    -webkit-transition-duration: 0.2s; /* Safari */
    transition-duration: 0.2s;
}
.new-tag-btn:hover {
    background: rgb(90, 90, 90); 
    color: white;
}

#id_subtitle_tag{
    text-align: center;
}

#id_title #id_links-3-p-1,
#id_title #id_links-3-p-2,
#id_title #id_links-3-p-3,
#id_title #id_links-3-p-4{
    font-size: 60px;
    font-weight: 900;
    color: #1d1d1f;
    font-family: Arial, "Helvetica Neue", Helvetica, sans-serif;
    max-width: 1000px;
    display: block;
    position: fixed;
    top: 484px;
}
#id_links-3-p-1{
    padding-left: 232px;
}
#id_links-3-p-2{
    padding-left: 465px;
}
#id_links-3-p-3{
    padding-left: 699px;
}
#id_links-3-p-4{
    padding-left: 0px;
}